*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 40px;
    height: 91vh;
}

#name{
    display: inline-block;
    margin: 20px;
    font-family: Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

nav ul{
    list-style: disc;
    list-style-position: inside;
}

nav ul li a{
    text-decoration: none;
    color: white;
}