nav{
    background-color: black;
}

.principal{
    background-image: url(images/bg-principal.jpg);
    background-size: cover;
    background-position: center center;
    height: 78vh;

}

.texto_principal p{
    color: rgb(206, 206, 206);
}

.status{
    background-color: black;
}

.link-group{
    background-color: black;
}

.link-group button img{
    width: 32px;
}

.link-group button p{
    font-size: 13px;
}

.info-noticia img{
    width: 25px;
    height: 25px;
}

.link-seta img{
    width: 30px;
    height: 25px;
}

.section-info-produto .info-jogo h3{
    font-size: 20px;
}